<form id="incidentcreationform">
    <h2>Incident Creation Form</h2>
    <label for="inum">Incident Number</label>
    <input type="text" name="inum"><br>
    <label for="calldate">Call Date</label>
    <input type="date" id="calldate" name="calldate"><br>
    <label for="storenum">Store Number</label>
    <input type="text" name="storenum"><br>
    <label for="storecontact">Store Contact</label>
    <input type="text" name="storecontact"><br>
    <input type="submit" value="Create Incident"> 
</form>