{% extends 'tracker/trackerbase.html' %}

{% block content %}
<div class="flex justify-center">
    <form method="post" id="shipmentcreationform">
        <h4 class="text-2xl underline">Shipment Creation Form</h4>
        <label for="sending">Sending</label>
        <input type="radio" id="sending" name="shiptype">
        <label for="receiving">Receiving</label>
        <input type="radio" id="receiving" name="shiptype"><br>
        <label for="gun">Gun S/N</label>
        <input type="text" name="gun"><br>
        <label for="base">Base S/N</label>
        <input type="text" name="base"><br>
        <label for="cable">Cable (0 if no cable)</label>
        <input type="number" name="cable"><br>
        <label for="date">Date</label>
        <input type="date" name="date"><br>
        <label for="tracking">USPS Tracking Number</label>
        <input type="text" name="tracking"><br>
        <input class="border-2 bg-slate-300" type="submit" value="Create Shipment">
    </form>
</div>
{% endblock %}