{% extends 'tracker/trackerbase.html' %}
{% block title %}Create Shipment{% endblock %}
{% block content %}
<div class="flex justify-center">
    <form method="post" id="shipmentcreationform">
        <h4 class="text-2xl underline">Shipment Creation Form</h4>
        
        <input type="radio" id="sending" value="sending" name="shiptype"
        {% if shiptype == 'sending' %}
            checked="true"
        {% endif %}>
        <label for="sending">Sending</label>
        <span class="px-4 text-slate-400">|</span>
        <input type="radio" id="receiving" value="receiving" name="shiptype"
        {% if shiptype == 'receiving' %}
            checked="true"
        {% endif %}>
        <label for="receiving">Receiving</label><br>
        <label for="incnum">Incident Number</label>
        <input type="text" name="incnum" 
        {% if incnum %}
            value="{{ incnum }}"
        {% endif %}><br>
        <label for="gun">Gun S/N</label>
        <input type="text" name="gun"><br>
        <label for="base">Base S/N</label>
        <input type="text" name="base"><br>
        <label for="cable">Cable (0 if no cable)</label>
        <input type="number" name="cable"><br>
        <label for="date">Date</label>
        <input type="date" name="date"><br>
        <label for="tracking">USPS Tracking Number</label>
        <input type="text" name="tracking"><br>
        <label for="notes">Notes</label>
        <textarea class="border-2" id="notes" name="notes"></textarea><br>
        <input class="border-2 bg-slate-300" type="submit" value="Create Shipment">
    </form>
</div>
{% endblock %}