{% extends 'tracker/trackerbase.html' %}
{% block title %}Create Incident{% endblock %}
{% block content %}
<div class='flex flex-col items-center text-center justify-center'>
    <form class="content-center" method="post" id="incidentcreationform">
        <h2 class="text-2xl underline">Incident Creation Form</h2>
        <label for="inum">Incident Number</label>
        <input class='border-2' type="text" id="inum" name="inum" required><br>
        <label for="calldate">Call Date</label>
        <input class='border-2' type="date" id="calldate" name="calldate" required><br>
        <label for="storenum">Store Number</label>
        <input class='border-2' type="text" id="storenum" name="storenum" required><br>
        <label for="storecontact">Store Contact</label>
        <input class='border-2' type="text" id="storecontact" name="storecontact" required><br>
        <label for="notes">Notes</label>
        <textarea class="border-2" id="notes" name="notes"></textarea><br>
        <input class='border-2 bg-slate-300' type="submit" value="Create Incident"></button>
    </form>
</div>
{% endblock %}