{% extends 'tracker/trackerbase.html' %}
{% block title %}Edit{% endblock %}

{% block content %}
    {% if type == "shipment" %}
    <!--Edit Shipment Page-->
    <div id="formarea" class="flex flex-col justify-center items-center text-center">
        <div class="">
            <form name="editshipmentform" method="post" class="content-center">
                <h4 class="text-2xl underline">Edit Shipment</h4>          
                
                <label for="incnum">Incident Number</label>
                <input class="bg-gray-300" type="text" name="incnum" readonly value="{{ data['incidentnum'] }}"><br>
                
                <label for="gun">Gun S/N</label>
                <input type="text" name="gun" value="{{ data['gunser'] }}"><br>

                <label for="base">Base S/N</label>
                <input type="text" name="base" value="{{ data['baseser'] }}"><br>

                <label for="cable">Cable (0 if no cable)</label>
                <input type="number" name="cable" value="{{ data['cable'] }}"><br>

                <label for="date">Date</label>
                <input type="date" name="date" value="{{ data['date'] }}"><br>

                <label for="tracking">USPS Tracking Number</label>
                <input type="text" name="tracking" value="{{ data['tracking'] }}"><br>

                <label for="notes">Notes</label>
                <textarea class="border-2" id="notes" name="notes">{{ data['notes'] }}</textarea><br>
                <input class="border-2 bg-slate-300" type="submit" value="Update Shipment"><br>
            </form> 
        </div>
        <div class="self-center mt-7">
            <p class="text-red-700">Warning! Deletion cannot be undone!</p>
            <button type="button" class="self-center border-2 bg-red-400"
            hx-delete="/deleteshipment/{{ data['id'] }}"
            hx-target="#formarea">
            Delete Shipment</button>
        </div>
    </div>  


    {% elif type == "incident" %}
    <!--Edit Incident Page-->
    <div class='flex flex-col items-center text-center justify-center'>
        <div>
            <form name="incidentupdateform" class="content-center" method="post">
                <h2 class="text-2xl underline">Update Incident Form</h2>
                <label for="incnum">Incident Number</label>
                <input class='border-2 bg-slate-300' type="text" id="incnum" name="incnum" readonly value="{{ data['incidentnum'] }}" required><br>
                <label for="calldate">Call Date</label>
                <input class='border-2' type="date" id="calldate" name="calldate" value="{{ data['calldate'] }}" required><br>
                <label for="storenum">Store Number</label>
                <input class='border-2' type="text" id="storenum" name="storenum" value="{{ data['storenum'] }}" required><br>
                <label for="storecontact">Store Contact</label>
                <input class='border-2' type="text" id="storecontact" name="storecontact" value="{{ data['storecontact'] }}"><br>
                <label for="notes">Notes</label>
                <textarea class="border-2" id="notes" name="notes">{{ data['notes'] }}</textarea><br>
                <input class='border-2 bg-slate-300' type="submit" value="Update Incident"></button>
            </form>
        </div>
        <div></div>
    </div>
    {% endif %}        
{% endblock %}