{% extends 'tracker/trackerbase.html' %}
{% block title %}Edit{% endblock %}

{% block content %}
    {% if type == "shipment" %}
    <!--Edit Shipment Page-->
    <div class="flex flex-col justify-center items-center text-center" id="mainbody">
        <div class="">
            <form method="post" class="content-center" id="shipmentcreationform">
                <h4 class="text-2xl underline">Edit Shipment</h4>          
                
                <label for="incnum">Incident Number</label>
                <input class="bg-gray-300" type="text" name="incnum" readonly value="{{ data['incidentnum'] }}"><br>
                
                <label for="gun">Gun S/N</label>
                <input type="text" name="gun" value="{{ data['gunser'] }}"><br>

                <label for="base">Base S/N</label>
                <input type="text" name="base" value="{{ data['baseser'] }}"><br>

                <label for="cable">Cable (0 if no cable)</label>
                <input type="number" name="cable" value="{{ data['cable'] }}"><br>

                <label for="date">Date</label>
                <input type="date" name="date" value="{{ data['date'] }}"><br>

                <label for="tracking">USPS Tracking Number</label>
                <input type="text" name="tracking" value="{{ data['tracking'] }}"><br>

                <label for="notes">Notes</label>
                <textarea class="border-2" id="notes" name="notes">{{ data['notes'] }}</textarea><br>
                <input class="border-2 bg-slate-300" type="submit" value="Update Shipment"><br>
            </form> 
        </div>
        <div class="self-center mt-7">
            <p class="text-red-700">Warning! Deletion cannot be undone!</p>
            <button type="button" class="self-center border-2 bg-red-400"
            hx-delete="/deleteshipment/{{ data['id'] }}"
            hx-target="#mainbody">
            Delete Shipment</button>
        </div>
    </div>  


    {% elif type == "incident" %}
    <!--Edit Incident Page-->



    {% endif %}        
{% endblock %}