{% extends "tracker/trackerbase.html" %}
{% import "tracker/components/incidentcard.html" as incidentcard %}
{% import "tracker/components/shipmentcard.html" as shipmentcard %}
{% block title %}Incident Details{% endblock%}
{% block content %}
<div class="m-2">
<a href="javascript:window.history.back();" class="border-2 border-r-2 bg-slate-200">Back to Search</a>
</div>
<section class="flex flex-col">
    <div class="flex flex-row">
        {{ incidentcard.incidentcard(incident["INCIDENTNUM"],
                                     incident["CALLDATE"], 
                                     incident["STORENUM"], 
                                     incident["STORECONTACT"], 
                                     incident["NOTES"],
                                     burger=False) }}
    </div>
    <div class="flex flex-row">
        <div class="flex-1 border-2 m-2 rounded-md">
            <h1>Sending</h1>
            {% if send_list == [] %}
                <div>+</div>
                

            {% else %}
                {% for send in send_list %}
                    {{ shipmentcard.shipmentcard(send["SHIPMENTNUM"],
                                                  send["GUN"],
                                                  send["BASE"],
                                                  send["CABLE"],
                                                  send["DATE"],
                                                  send["TRACKING"],
                                                  send["STATUS"]) }}
                {% endfor %}
            {% endif %}
        </div>
        <div class="flex-1 border-2 m-2 rounded-md">
            <h1>Recieving</h1>
            {% if recv_list == [] %}
                <div>+</div>
            {% else %}
                {% for rec in recv_list %}
                    {{ shipmentcard.shipmentcard(rec["SHIPMENTNUM"],
                                                  rec["GUN"],
                                                  rec["BASE"],
                                                  rec["CABLE"],
                                                  rec["DATE"],
                                                  rec["TRACKING"],
                                                  rec["STATUS"]) }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
