{% extends "tracker/trackerbase.html" %}
{% import "tracker/components/incidentcard.html" as incidentcard %}
{% import "tracker/components/shipmentcard.html" as shipmentcard %}
{% block title %}Incident Details{% endblock%}
{% block content %}
<div class="m-2">
<a href="javascript:window.history.back();" class="border-2 border-r-2 bg-slate-200">Back to Search</a>
</div>
<section class="flex flex-col">
    <div class="flex flex-row">
        {{ incidentcard.incidentcard(incident["INCIDENTNUM"],
                                     incident["CALLDATE"], 
                                     incident["STORENUM"], 
                                     incident["STORECONTACT"], 
                                     incident["NOTES"],
                                     edit=True) }}
    </div>
    <div class="flex flex-row">
        <div class="flex-auto w-[50%] border-2 m-2 rounded-md">
            <h1 class="underline pt-2 pl-2">Sending</h1>
            {% if send_list != [] %}
                {% for send in send_list %}
                    {{ shipmentcard.shipmentcard(
                                                  send["ID"],
                                                  send["GUNSER"],
                                                  send["BASESER"],
                                                  send["CABLE"],
                                                  send["DATE"],
                                                  send["TRACKING"],
                                                  send["NOTES"],
                                                  send["COMPLETED"]) }}
                {% endfor %}
            {% endif %}
            <div class="width-full flex flex-row justify-center">
            <a class="border-2 rounded-full px-2 mb-2" href="{{ url_for('tracker.createshipment', incnum=incident['INCIDENTNUM'], shiptype='sending' )}}">
                +
            </a></div>
        </div>
        <div class="flex-auto w-[50%] border-2 m-2 rounded-md">
            <h1 class="underline pt-2 pl-2">Recieving</h1>
            {% if recv_list != [] %}
                {% for rec in recv_list %}
                    {{ shipmentcard.shipmentcard(
                                                  rec["ID"],
                                                  rec["GUNSER"],
                                                  rec["BASESER"],
                                                  rec["CABLE"],
                                                  rec["DATE"],
                                                  rec["TRACKING"],
                                                  rec["NOTES"],
                                                  rec["COMPLETED"]) }}
                {% endfor %}
            {% endif %}
            <div class="width-full flex flex-row justify-center">
            <a class="border-2 rounded-full px-2 mb-2" href="{{ url_for('tracker.createshipment', incnum=incident['INCIDENTNUM'], shiptype='receiving' )}}">
                +
            </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
