<!doctype html>
<title>RGT - {% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
<img src="{{url_for('static', filename='images/ramlogo.jpg')}}">
<nav>
    <ul>
        <li><span>{{ g.user['NAME'] }}</span>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>