<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <form id="incidentcreationform">
            <h2>Incident Creation Form</h2>
            <label for="inum">Incident Number</label>
            <input type="text" name="inum"><br>
            <label for="calldate">Call Date</label>
            <input type="date" id="calldate" name="calldate"><br>
            <label for="storenum">Store Number</label>
            <input type="text" name="storenum"><br>
            <label for="storecontact">Store Contact</label>
            <input type="text" name="storecontact"><br>
            <input type="submit" value="Create Incident"> 
        </form>
        <form id="shipmentcreationform">
            <h4>Shipment Creation Form</h4>
            <label for="sending">Sending</label>
            <input type="radio" id="sending" name="shiptype">
            <label for="receiving">Receiving</label>
            <input type="radio" id="receiving" name="shiptype"><br>
            <label for="gun">Gun S/N</label>
            <input type="text" name="gun"><br>
            <label for="base">Base S/N</label>
            <input type="text" name="base"><br>
            <label for="cable">Cable (0 if no cable)</label>
            <input type="number" name="cable"><br>
            <label for="date">Date</label>
            <input type="date" name="date"><br>
            <label for="tracking">USPS Tracking Number</label>
            <input type="text" name="tracking"><br>
            <input type="submit" value="Create Shipment">
        </form>
    </body>
</html>