{% macro incidentcard(incnum,date,storenum,storecontact,notes, sendstatus=None, recstatus=None) %}
    <div name='card-{{ incnum  }}' class='w-full flex p-2 self-center border-2 m-2 rounded-md'>
        <p class="px-2 border-r-2">{{ incnum }}</p>
        <p class="px-2 border-r-2 min-w-[8rem]">{{ date }}</p>
        <p class="px-2 border-r-2">{{ storenum }}</p>
        <p class="px-2 border-r-2">{{ storecontact }}</p>
        <p class="px-2 max-w-[30rem]">{{ notes }}</p>
        <span class="grow border-r-2 mr-2"></span>
        <a href="{{ url_for( 'tracker.edit', _incnum=incnum )}}" class="max-h-6 max-w-6 min-h-6 min-w-6 self-center" ><button  type="button"><img src="static/images/edit.svg"></button></a>
    </div>
{% endmacro %}

{% for inc in incidents %}
    {{ incidentcard(inc["INCIDENTNUM"],inc["CALLDATE"],inc["STORENUM"],inc["STORECONTACT"],inc["NOTES"]) }}
{% endfor %}
