{% macro shipmentcard(_id, gunser, baseser, cable, date, tracking, notes, completed) %}
    <div name="shipcard-{{ _id }}" class="flex w-[85%] flex-col  border-2 rounded-md m-2">
        <div name="cardheader" class="flex flex-row border-b-2 p-2">
            <div name="trackingnumbersection" class="flex grow flex-col border-l-2">
                <p class="italic text-xs font-thin text-slate-500">Tracking Number</p>
                <p class="">{{ tracking }}</p>
            </div>
            <div name="datesection" class="flex grow flex-col border-l-2">
                <p class="italic text-xs font-thin text-slate-500">Date Created</p>
                <p class="">{{ date }}</p>
            </div>
            <div name="editbutton" class="flex flex-row grow justify-end">
                <!-- {{ url_for("tracker.edit", type="shipment", id=id) }} -->
                <a href="{{ url_for('tracker.edit', type='shipment', id=_id) }}" class="max-h-4 max-w-4 min-h-4 min-w-4 " ><button type="button"><img src="static/images/edit.svg"></button></a>
            </div>
        </div>
        <div class="flex flex-row p-2">
            <div name='itemsdetails' class="border-r-2 p-2">
                <div name="gundetails" class="flex grow flex-col border-l-2 mb-2">
                    <p class="italic text-xs font-thin text-slate-500">Gun Serial</p>
                    {% if gunser %}
                        <p class="">{{ gunser }}</p>
                    {% else %}
                        <p class="italic font-thin text-slate-500">None</p>
                    {% endif %}
                </div>
                <div name="basedetails" class="flex grow flex-col border-l-2 mb-2">
                    <p class="italic text-xs font-thin text-slate-500">Base Serial</p>
                    {% if baseser %}
                        <p class="">{{ baseser }}</p>
                    {% else %}
                        <p class="italic font-thin text-slate-500">None</p>
                    {% endif %}
                </div>
                <div name="cabledetails" class="flex grow flex-col border-l-2">
                    <p class="italic text-xs font-thin text-slate-500">Cables</p>
                    {% if cable %}
                        <p class="">{{ cable }}</p>
                    {% else %}
                        <p class="italic font-thin text-slate-500">0</p>
                    {% endif %}
                </div>
            </div>
            <div name="notes"  class="flex flex-col border-r-2 p-2">
                <p class="border-b-2">Notes:</p>
                <p class="">{{ notes }}</p>
            </div>
            <div name="status" class="flex flex-col min-w-min flex-grow p-2">
                {% if completed %}
                    <p class="text-green-700">Delivered on {{ completed }}</p>
                {% else %}
                <div class="flex flex-grow" id="swaptarget">
                    <p class="text-amber-600">Waiting for delivery...</p>
                    <div class="flex flex-grow flex-row-reverse items-end">
                        <a class="max-h-4 max-w-4 min-h-4 min-w-4">
                            <button hx-post="/complete/{{ _id }}" hx-target="#swaptarget">
                                <img src="static/images/check.svg">
                            </button>
                        </a> 
                    </div>   
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}